<div class="row form-group">
    <label for="secretKey" class="col-sm-2">Your secret Key</label>
    <div class="col col-xs-6">
        <input type="password" id="secretKey" class="form-control" value="36595b50bf097cd19423c40ee66b117ed15fc5ec03d8676796bdf32bc8fe367d82517293a0f82362eb4f93d0de77af5724fba64cbcf55542328bc173dbe13d33">
    </div>

    <div class="col col-xs-1">
        <button id="btn-submit-secret-key" class="btn btn-info">Submit</button>
    </div>
</div>

<script>

    window.addEventListener('load', async function () {

        let btnSecretKey = $('#btn-submit-secret-key');
        btnSecretKey.click(generateKeyPairFromSecretKey);

        async function generateKeyPairFromSecretKey() {
            showLoader();
            
            let secretKey = $('#secretKey').val();

            if (!secretKey) {
                alert('Missing secret key!');
                return;
            }

            const hexStr = await Crypto.hexStringToByte(secretKey.trim());
            const keys = await Crypto.generateKeyPairFromSecret(hexStr);

            const publicKey = await Crypto.aeEncodeKey(keys.publicKey);

            initiatorKeyPair.publicKey = publicKey;
            initiatorKeyPair.secretKey = secretKey;

            showBalance(true);
        }
    })
</script>