# Ignore node_modules
/*/*/node_modules/
*/*/.aeproject-store/
.DS_Store
dist
node_modules
.nyc_output
.testcases
build
docs/build
.idea/
.outputParameter
nonce.txt
erc721.aes.deploy*
/*/*/package-lock.json
.vscode
.forgae-store
.aeproject-store