/* .balance-input {
    animation: balanceInputBackground 2s 1;
} */

/* @keyframes balanceInputBackground
{
    0%      {background:rgb(255, 0, 0);}
    25%     {background:rgb(252, 202, 202);}
    75%     {background:rgb(241, 199, 143);}
    100%    {background: #eee}
} */